* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: #1f242d;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  /* take note of these animation properties */
  animation: slideRight 1s ease forwards;
}

.logo span {
  color: #5da5bb;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 1s;
  opacity: 0;
  /* take note of these animation properties */
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover,
.navbar a.active {
  color: #5da5bb;
}

.home {
  position: relative;
  width: 100%;
  height: 80dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
  /* the properties below wer added */
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
}

.home-content {
  max-width: 600px;
  color: #d6d2d2;
}

.home-content h4 {
  font-size: 26px;
  font-weight: 700;
  opacity: 0;
  animation: slideButtom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h4 span {
  color: #5da5bb;
}

.home-content h4:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-img img {
  max-width: 600px;
  margin-right: 20px;
  height: 500px;
  border-radius: 30px;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 2s;
}

.social-media a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #5da5bb;
  border-radius: 50%;
  font-size: 20px;
  color: #5da5bb;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
  background: #5da5bb;
  color: #1f242d;
  box-shadow: 0 0 20px #5da5bb;
}

button {
  display: inline-block;
  padding: 14px 30px;
  background: #5da5bb;
  border-radius: 40px;
  box-shadow: 0px 0 10px #1f242d;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.hire-me a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
}

.hire-me button:hover {
  background: #1f242d;
  color: #5da5bb;
  box-shadow: 0 0 30px #5da5bb;
  border: 2px solid #5da5bb;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideButtom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
